body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2383_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2383 {
  position:absolute;
  left:0px;
  top:95px;
  width:1200px;
  height:45px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2384 {
  position:absolute;
  left:2px;
  top:14px;
  width:1196px;
  word-wrap:break-word;
}
#u2385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:558px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2385 {
  position:absolute;
  left:0px;
  top:139px;
  width:1200px;
  height:558px;
}
#u2386 {
  position:absolute;
  left:2px;
  top:271px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u2387 {
  position:absolute;
  left:65px;
  top:37px;
  width:300px;
  height:40px;
}
#u2388 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2389 {
  position:absolute;
  left:1013px;
  top:55px;
  width:65px;
  height:20px;
}
#u2390 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2391_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:274px;
  height:110px;
}
#u2391 {
  position:absolute;
  left:890px;
  top:85px;
  width:264px;
  height:100px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2392 {
  position:absolute;
  left:2px;
  top:36px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2393 {
  position:absolute;
  left:1128px;
  top:105px;
  width:17px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2394 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u2395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u2395 {
  position:absolute;
  left:962px;
  top:119px;
  width:145px;
  height:17px;
  font-size:12px;
}
#u2396 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#999999;
}
#u2397 {
  position:absolute;
  left:962px;
  top:139px;
  width:183px;
  height:28px;
  font-size:10px;
  color:#999999;
}
#u2398 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u2399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2399 {
  position:absolute;
  left:906px;
  top:119px;
  width:40px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2400 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u2401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2401 {
  position:absolute;
  left:1164px;
  top:139px;
  width:211px;
  height:40px;
  color:#FF0000;
}
#u2402 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u2403_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:274px;
  height:110px;
}
#u2403 {
  position:absolute;
  left:890px;
  top:208px;
  width:264px;
  height:100px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2404 {
  position:absolute;
  left:2px;
  top:36px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2405_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2405 {
  position:absolute;
  left:1128px;
  top:228px;
  width:17px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2406 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u2407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:13px;
}
#u2407 {
  position:absolute;
  left:962px;
  top:246px;
  width:147px;
  height:36px;
  font-size:13px;
}
#u2408 {
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  word-wrap:break-word;
}
#u2409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2409 {
  position:absolute;
  left:906px;
  top:242px;
  width:40px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2410 {
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
#u2411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:318px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u2411 {
  position:absolute;
  left:463px;
  top:207px;
  width:275px;
  height:318px;
}
#u2412 {
  position:absolute;
  left:2px;
  top:151px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2413_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2413 {
  position:absolute;
  left:568px;
  top:227px;
  width:65px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2414 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2415_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2415 {
  position:absolute;
  left:487px;
  top:276px;
  width:227px;
  height:60px;
}
#u2416 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  word-wrap:break-word;
}
#u2417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2417 {
  position:absolute;
  left:711px;
  top:222px;
  width:17px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2418 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u2419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2419 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:27px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2420 {
  position:absolute;
  left:2px;
  top:4px;
  width:1196px;
  word-wrap:break-word;
}
#u2421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2421 {
  position:absolute;
  left:1164px;
  top:7px;
  width:17px;
  height:14px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2422 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  word-wrap:break-word;
}
#u2423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2423 {
  position:absolute;
  left:547px;
  top:37px;
  width:141px;
  height:20px;
  color:#FF0000;
}
#u2424 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u2425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u2425 {
  position:absolute;
  left:481px;
  top:535px;
  width:239px;
  height:20px;
  color:#FF0000;
}
#u2426 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u2427_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u2427 {
  position:absolute;
  left:1164px;
  top:244px;
  width:183px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u2428 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
