body {
  margin:0px;
  background-color:rgba(238, 240, 245, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:169px;
}
#u818 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:169px;
}
#u819 {
  position:absolute;
  left:2px;
  top:76px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:792px;
}
#u820 {
  position:absolute;
  left:0px;
  top:202px;
  width:230px;
  height:792px;
}
#u821 {
  position:absolute;
  left:2px;
  top:388px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1690px;
  height:50px;
  background:inherit;
  background-color:rgba(98, 139, 180, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u822 {
  position:absolute;
  left:230px;
  top:0px;
  width:1690px;
  height:50px;
}
#u823 {
  position:absolute;
  left:2px;
  top:17px;
  width:1686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u824 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:35px;
  background:inherit;
  background-color:rgba(102, 158, 241, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u825 {
  position:absolute;
  left:324px;
  top:77px;
  width:61px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u825_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:35px;
  background:inherit;
  background-color:rgba(82, 167, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u825.mouseOver {
}
#u826 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  word-wrap:break-word;
}
#u827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(196, 203, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u827 {
  position:absolute;
  left:399px;
  top:77px;
  width:61px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u827_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 158, 241, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u827.mouseOver {
}
#u828 {
  position:absolute;
  left:2px;
  top:8px;
  width:57px;
  word-wrap:break-word;
}
#u829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:33px;
  background:inherit;
  background-color:rgba(50, 59, 63, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u829 {
  position:absolute;
  left:0px;
  top:169px;
  width:230px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u830 {
  position:absolute;
  left:2px;
  top:8px;
  width:226px;
  visibility:hidden;
  word-wrap:break-word;
}
#u831_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:18px;
}
#u831 {
  position:absolute;
  left:247px;
  top:189px;
  width:127px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u832 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:18px;
}
#u833 {
  position:absolute;
  left:247px;
  top:728px;
  width:127px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u834 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u835 {
  position:absolute;
  left:324px;
  top:717px;
  width:550px;
  height:40px;
}
#u836 {
  position:absolute;
  left:2px;
  top:12px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
}
#u837 {
  position:absolute;
  left:247px;
  top:780px;
  width:80px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u838 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u839 {
  position:absolute;
  left:247px;
  top:619px;
  width:73px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u840 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u841 {
  position:absolute;
  left:324px;
  top:189px;
  width:100px;
  height:18px;
}
#u842 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u841_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u843 {
  position:absolute;
  left:434px;
  top:189px;
  width:100px;
  height:18px;
}
#u844 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u843_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u845 {
  position:absolute;
  left:544px;
  top:189px;
  width:100px;
  height:18px;
}
#u846 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u845_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u847 {
  position:absolute;
  left:324px;
  top:619px;
  width:100px;
  height:18px;
}
#u848 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u847_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:221px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u849 {
  position:absolute;
  left:324px;
  top:807px;
  width:550px;
  height:221px;
}
#u850 {
  position:absolute;
  left:2px;
  top:102px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:67px;
}
#u851 {
  position:absolute;
  left:333px;
  top:953px;
  width:70px;
  height:67px;
  font-size:20px;
}
#u852 {
  position:absolute;
  left:2px;
  top:22px;
  width:66px;
  word-wrap:break-word;
}
#u853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:27px;
}
#u853 {
  position:absolute;
  left:324px;
  top:780px;
  width:550px;
  height:27px;
}
#u854 {
  position:absolute;
  left:2px;
  top:6px;
  width:546px;
  visibility:hidden;
  word-wrap:break-word;
}
#u855 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u856_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(196, 203, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u856 {
  position:absolute;
  left:324px;
  top:229px;
  width:180px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u857 {
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:17px;
}
#u858 {
  position:absolute;
  left:478px;
  top:238px;
  width:19px;
  height:17px;
}
#u859 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(196, 203, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u861 {
  position:absolute;
  left:514px;
  top:229px;
  width:180px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u862 {
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:17px;
}
#u863 {
  position:absolute;
  left:668px;
  top:238px;
  width:19px;
  height:17px;
}
#u864 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(196, 203, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u866 {
  position:absolute;
  left:704px;
  top:229px;
  width:180px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u867 {
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:17px;
}
#u868 {
  position:absolute;
  left:858px;
  top:238px;
  width:19px;
  height:17px;
}
#u869 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u870 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(196, 203, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u871 {
  position:absolute;
  left:894px;
  top:229px;
  width:180px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u872 {
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:17px;
}
#u873 {
  position:absolute;
  left:1048px;
  top:238px;
  width:19px;
  height:17px;
}
#u874 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u875 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(196, 203, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u876 {
  position:absolute;
  left:1084px;
  top:229px;
  width:180px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u877 {
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:17px;
}
#u878 {
  position:absolute;
  left:1238px;
  top:238px;
  width:19px;
  height:17px;
}
#u879 {
  position:absolute;
  left:2px;
  top:0px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:35px;
  background:inherit;
  background-color:rgba(102, 158, 241, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u880 {
  position:absolute;
  left:560px;
  top:449px;
  width:79px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u880_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:35px;
  background:inherit;
  background-color:rgba(82, 167, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u880.mouseOver {
}
#u881 {
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(196, 203, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u882 {
  position:absolute;
  left:560px;
  top:404px;
  width:79px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u882_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 158, 241, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#333333;
}
#u882.mouseOver {
}
#u883 {
  position:absolute;
  left:2px;
  top:8px;
  width:75px;
  word-wrap:break-word;
}
#u884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:18px;
}
#u884 {
  position:absolute;
  left:247px;
  top:151px;
  width:127px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u885 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u886 {
  position:absolute;
  left:324px;
  top:151px;
  width:100px;
  height:18px;
}
#u887 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u886_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u888 {
  position:absolute;
  left:434px;
  top:151px;
  width:100px;
  height:18px;
}
#u889 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u888_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:18px;
}
#u890 {
  position:absolute;
  left:247px;
  top:666px;
  width:73px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u891 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u892 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(196, 203, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#B4BDCA;
  text-align:left;
}
#u893 {
  position:absolute;
  left:324px;
  top:658px;
  width:180px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#B4BDCA;
  text-align:left;
}
#u894 {
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u895 {
  position:absolute;
  left:476px;
  top:665px;
  width:24px;
  height:21px;
}
#u896 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u897 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(196, 203, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#B4BDCA;
  text-align:left;
}
#u898 {
  position:absolute;
  left:557px;
  top:658px;
  width:180px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#B4BDCA;
  text-align:left;
}
#u899 {
  position:absolute;
  left:2px;
  top:8px;
  width:176px;
  word-wrap:break-word;
}
#u900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u900 {
  position:absolute;
  left:709px;
  top:665px;
  width:24px;
  height:21px;
}
#u901 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:36px;
  height:5px;
}
#u902 {
  position:absolute;
  left:514px;
  top:675px;
  width:33px;
  height:2px;
}
#u903 {
  position:absolute;
  left:2px;
  top:-7px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(196, 203, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u904 {
  position:absolute;
  left:324px;
  top:286px;
  width:203px;
  height:300px;
}
#u905 {
  position:absolute;
  left:2px;
  top:142px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:40px;
  background:inherit;
  background-color:rgba(245, 247, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(196, 203, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u906 {
  position:absolute;
  left:324px;
  top:286px;
  width:203px;
  height:40px;
}
#u907 {
  position:absolute;
  left:2px;
  top:12px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908 {
  position:absolute;
  left:335px;
  top:297px;
  width:100px;
  height:18px;
}
#u909 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u908_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u910 {
  position:absolute;
  left:495px;
  top:299px;
  width:18px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u911 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  white-space:nowrap;
}
#u912 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(196, 203, 215, 1);
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u913 {
  position:absolute;
  left:346px;
  top:339px;
  width:160px;
  height:30px;
}
#u914 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:23px;
}
#u915 {
  position:absolute;
  left:355px;
  top:342px;
  width:107px;
  height:23px;
}
#u916 {
  position:absolute;
  left:2px;
  top:4px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917 {
  position:absolute;
  left:335px;
  top:388px;
  width:100px;
  height:18px;
}
#u918 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u917_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u919 {
  position:absolute;
  left:335px;
  top:418px;
  width:100px;
  height:18px;
}
#u920 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u919_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u921 {
  position:absolute;
  left:335px;
  top:448px;
  width:100px;
  height:18px;
  color:#999999;
}
#u922 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u921_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u923 {
  position:absolute;
  left:335px;
  top:478px;
  width:100px;
  height:18px;
}
#u924 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u923_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u925 {
  position:absolute;
  left:335px;
  top:508px;
  width:100px;
  height:18px;
}
#u926 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u925_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u927 {
  position:absolute;
  left:335px;
  top:538px;
  width:100px;
  height:18px;
}
#u928 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u927_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u929 {
  position:absolute;
  left:335px;
  top:568px;
  width:100px;
  height:18px;
}
#u930 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u929_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:174px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u931 {
  position:absolute;
  left:515px;
  top:382px;
  width:10px;
  height:174px;
}
#u932 {
  position:absolute;
  left:2px;
  top:79px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:300px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(196, 203, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u933 {
  position:absolute;
  left:668px;
  top:286px;
  width:203px;
  height:300px;
}
#u934 {
  position:absolute;
  left:2px;
  top:142px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:40px;
  background:inherit;
  background-color:rgba(245, 247, 250, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(196, 203, 215, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u935 {
  position:absolute;
  left:668px;
  top:286px;
  width:203px;
  height:40px;
}
#u936 {
  position:absolute;
  left:2px;
  top:12px;
  width:199px;
  visibility:hidden;
  word-wrap:break-word;
}
#u937 {
  position:absolute;
  left:679px;
  top:297px;
  width:100px;
  height:18px;
}
#u938 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u937_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u939 {
  position:absolute;
  left:839px;
  top:299px;
  width:18px;
  height:14px;
  font-size:12px;
  color:#999999;
}
#u940 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u941 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(196, 203, 215, 1);
  border-radius:150px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u942 {
  position:absolute;
  left:690px;
  top:339px;
  width:160px;
  height:30px;
}
#u943 {
  position:absolute;
  left:2px;
  top:7px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:23px;
}
#u944 {
  position:absolute;
  left:699px;
  top:342px;
  width:107px;
  height:23px;
}
#u945 {
  position:absolute;
  left:2px;
  top:4px;
  width:103px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946 {
  position:absolute;
  left:679px;
  top:388px;
  width:100px;
  height:18px;
}
#u947 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u946_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:49px;
}
#u948 {
  position:absolute;
  left:435px;
  top:95px;
  width:151px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u949 {
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:49px;
}
#u950 {
  position:absolute;
  left:324px;
  top:95px;
  width:151px;
  height:49px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#FFFFFF;
}
#u951 {
  position:absolute;
  left:2px;
  top:14px;
  width:147px;
  word-wrap:break-word;
}
#u952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u952 {
  position:absolute;
  left:393px;
  top:147px;
  width:10px;
  height:10px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u953 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  word-wrap:break-word;
}
#u954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u954 {
  position:absolute;
  left:503px;
  top:147px;
  width:10px;
  height:10px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:8px;
  color:#FFFFFF;
}
#u955 {
  position:absolute;
  left:2px;
  top:0px;
  width:6px;
  word-wrap:break-word;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u956 {
  position:absolute;
  left:44px;
  top:176px;
  width:40px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
  text-align:center;
}
#u957 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u958 {
  position:absolute;
  left:1084px;
  top:264px;
  width:273px;
  height:20px;
  color:#FF0000;
}
#u959 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  word-wrap:break-word;
}
#u960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u960 {
  position:absolute;
  left:743px;
  top:666px;
  width:273px;
  height:20px;
  color:#FF0000;
}
#u961 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  word-wrap:break-word;
}
